/* 
    Document   : override
    Created on : Apr 13, 2016, 2:02:29 AM    
    Description:
        Purpose of the stylesheet follows.
*/
.content-wrapper{
    margin-top: 70px;
}
.form-group label.radio{
    margin-left: 25px;
}
.form-group label.checkbox{
    margin-left: 25px;
}
.top-alert-block {
    margin-top: 50px;
    /*padding: 30px;*/
    margin-bottom: 15px;
}
.top-alert-block p, .top-alert-block p label {
    text-transform: capitalize;
}
  
